/* 	Author: Hakeem Usman;
	Version: 1.0;
	Date: 09/03/2019; */

    @import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

    html {
        scroll-behavior: smooth;
    }
    
    /*	Sections */
    .content-big-padding {
        padding: 120px 0px;
    }
    
    .section-resume, .section-portfolio, footer {
        color: rgb(255,255,255);
        font-weight: normal;
    }
    
    .section-education, .section-skills {
        color: rgb(255,255,255);
        font-weight: normal;
    }
    
    h2, .header-text p {
        text-align: center;
    }
    
    h3, h4 {
        font-size: 20px;
    }
    
    img.section {
        border-radius: 12px;
    }
    
    .add-space {
        padding: 20px;
    }
    
    .main-text {
        font-weight: bold;
    }
    
    .description-text {
        font-weight: normal;
    }
    
    .location-text {
        font-weight: normal;
        color: rgb(34,163,159);
    }
    
    .light {
        border: 1px solid white;
    }
    
    .dark {
        border: 1px solid black;
    }
    
    .portfolio-image {
        text-align: center;
        padding: 45px 0 66px 0;
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
    
    .pic-one,.pic-two,.pic-three,.pic-four {
        background-size: cover;
    }
    
    .pic-one {
        background-image: url(../img/github.jpg);
    }
    
    .pic-two {
        background-image: url(../img/vuit.png);
    }
    
    .pic-three {
        background-image: url(../img/hakstocks.PNG);
    }
    
    .pic-four {
        background-image: url(../img/haven.png);
    }

    .skills {
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }

    .skills > p {
        margin: 0;
    }

    .skills:before {
        width: 100%;
        height: 5px;
        content: "";
        display: block;
        position: absolute;
        background: rgb(255,255,255);
        bottom: 0;
    }

    .skill-bar {
        width: 100%;
        height: 5px;
        background: rgb(71, 207, 115);
        display: block;
        position: relative;
    }

    .skill1 {
        width: 95%;
    }
    .skill2 {
        width: 92%;
    }
    .skill3 {
        width: 90%;
    }
    .skill4 {
        width: 90%;
    }
    .skill5 {
        width: 86%;
    }
    .skill6 {
        width: 86%;
    }
    .skill7 {
        width: 85%;
    }
    .skill8 {
        width: 85%;
    }
    .skill9 {
        width: 82%;
    }
    .skill10 {
        width: 80%;
    }
    .skill11 {
        width: 75%;
    }
    .skill12 {
        width: 70%;
    }
    .skill13 {
        width: 70%;
    }
    .skill14 {
        width: 65%;
    }
    .skill15 {
        width: 62%;
    }
    .skill16 {
        width: 60%;
    }
    .skill17 {
        width: 55%;
    }
    .skill18 {
        width: 47%;
    }
    .skill19 {
        width: 42%;
    }
    .skill20 {
        width: 40%;
    }
    
    footer {
        text-align: center;
    }

    .grayscale {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -webkit-transition: all .6s ease;
        transition: all .6s ease;
    }
    
    
    
    .grayscale:hover {
        filter: none;
        -webkit-filter: grayscale(0%);
        border: 2px solid green;
    }
